.header {
    height: 63px;
   margin-bottom: 10px;
}

.grid {
    display: flex;
}

.header__logo {
    width: 20%;
}

.header__logo-cfg{
    padding: 21px 10px 20px;
    height: 60px;
    text-align: center;
    align-content: center;
    text-transform: capitalize;

}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}


.header__navbar--list {
    display: flex;
}


.header__navbar--list-item {
    list-style: none;

}

.header__navbar--list-item-link {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--orange-color);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;


}

.header__navbar--list-item-link:hover { 
    background-color: #F97B22;
}


/* sidebar */

.page-wrap {
    display: flex;
    height: 100%;
    border: 1px solid var(--boder-color);
}

.sidebar {
    display: flex;
    width: 13%;
}



.nav__sidebar--item {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid var(--boder-color);

}

.nav__sidebar--item-link {
    color: var(--boder-color);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    height: 50px;

}

.nav__sidebar--file {
    flex: 1;
    border-right: 1px solid var(--boder-color);

}


.nav__sidebar--file--top {

    border-bottom: 1px solid var(--boder-color);
    background-color: var(--grey-color);
}

.nav__sidebar--file--top:hover{
    background-color: #D8D8D8 ;
    cursor: pointer;
}

.nav__sidebar--file--top-link {
    color: var(--text-color);
    padding-left: 5px;
    font-size: 12px;
    font-weight: 700;
    
}

.nav__sidebar--file--content {
    display: flex;
    flex-direction: column;
}

.nav__sidebar--file--item {
    color: var(--text-color);
    text-decoration: none;
    font-size: 10px;
    padding: 7px;

}

/* render  */
.main-content {
    flex: 1;
    width: 35%;
    border-right: 1px solid var(--boder-color);
}

.list-file {
    border-bottom: 1px solid var(--boder-color);
    display: flex;

    
}

.title-file::after {
    content: 'x';
    padding: 0 5px;
    font-weight: 700;


}

.title-file {
    padding-left: 5px;
    border-right: 2px solid var(--boder-color);
    font-size: 10px;
    cursor: pointer;
    background-color: var(--grey-color);
}

.title-file:hover{
    background-color: #D8D8D8 ;
}

.scroll-bar{
    padding: 10px;
    
}

.content-code{
    width: 100%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    color: #E57C23;
    padding: 10px;
    font-weight: 700;
}




/* CFG */

.main-nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.img-cfg{
    text-align: center;
    width: 100%;
    border: 1px solid var(--boder-color);
    border-radius: 5px;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-cfg h2{
    text-transform: uppercase;
    margin-top: 5px;
}

.img-cfg img{
    padding-top: 5px;
    width: 90%;
height: 90%;
}



.complexity{
    margin-top: 10px;
    height: 25%;
    border: 1px solid var(--boder-color);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.complexity h2{
    text-transform: uppercase;
}

.complexity img{
    padding-top: 5px;
    width: 90%;
    height: 80%;
}

/* footer */

.footer {
    display: flex;
    padding: 10px;
}

.footer__contact-content
{
    margin: 0 auto; 
    color: var(--text-color);
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
}

